* {
    margin-right: 0px !important;
    box-sizing: border-box !important;
}
    body {
    font-family: 'Nunito', sans-serif !important;
    min-width: 468px !important;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px !important;
    font-weight: 400 !important;
}
h4{
    font-size: 16px !important;
}
a {
    text-decoration: none !important; 
    transition: all 0.2s ease-in-out;
}
a.active {
    border-bottom: 2px solid #307510 !important;
    color: #307510 !important;
    font-weight: 900 !important;
}
a:hover {
    border-bottom: 2px solid salmon !important;
    color: salmon !important;
}

.container {
    margin-right: auto !important;
}
.modal-dialog {
    margin-right: auto !important;;
}
.hero {
    position: relative;
    text-align: center;
}
.hero-img {
    width: 100% !important;
}
.text-over-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: fit-content !important;
}
.text-over-hero .title {
    color: white !important;
    font-size: 55px !important;
    text-shadow: 2px 5px 5px black !important;
    width: 90vw !important;
}
.text-over-hero .desc {
    color: white !important;
    font-size: 14px !important;
    text-shadow: 2px 5px 5px black !important;

}
.text-over-hero .btn {
    font-size: 16px !important;
    font-weight: 700 !important;
    padding: 14px !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,50%) !important;;
}
.text-over-hero .btn:hover {
    background: none !important;
    color: white !important;;
}
.positive-edge, .recommended-menu {
    margin-top: 120px !important;
}
.positive-edge {
    font-family: orienta, sans-serif !important;
    position: relative !important;
}
.positive-edge .icon-4, .positive-edge .icon-5, .positive-edge .icon-6{
    text-align: left !important;
}
.positive-edge .icon-4 span{
    margin-left: 8px !important;
}
.positive-edge .icon-5 span, .positive-edge .icon-6 span{
    margin-left: 4px !important;
}
.positive-edge i img{
    width: 40px !important;
}
.positive-edge i img[src="icon1.svg"] {
    width: 56px !important;
}
.positive-edge .icon-1 {
    position:   relative !important;
    top: -6px !important;
}
.recommended-menu span {
    margin: 8px !important;
}
.recommended-menu img {
    min-width: 160px !important;
}
.menu-link {
    padding-top: 12px !important;
}
.menu-link>a {
    margin-right: 2vw !important;
    font-size: 12px !important;
    color: #000;
    padding-bottom: 12px;
    font-weight: 700;
    padding-top: 4px !important;
}
.card {
    width: 40vw !important;
    max-width: 600px !important;
}
.card-title {
    font-family: Orienta, sans-serif !important;
    text-align: left !important;    

}
.btn-card {
    color:#307510 !important;
    border: 1px solid #307510 !important;
    box-shadow: 1px 2px 4px #BDC9B8;
    position: absolute !important;
    right: 4px !important;
    bottom: 20px !important;
    background-color: white !important;;
    font-size: 12px !important;
    min-width: 100px !important;
}
.btn-card:hover {
    border: 1px solid salmon !important;
}

footer {
    width: auto !important;
    height: 120px !important;
    background-color: #BDC9B8 !important;
    margin-top: 120px !important;
}
footer .auto-booster-logo {
    position: relative !important;
    left: 80px !important;
    top: 4px !important;
}
.social-media {
    padding-top: 36px !important;
}
.social-media a:hover {
    border-bottom: none !important;;
}
.social-media-icons a>svg:hover path {
    fill: wheat !important;
    transition: all 0.2s ease-in-out;
}
.afternote {
    font-size: 12px !important;
    font-weight: 700;
    padding-right: 12px !important;
    padding-left: 12px !important;
}
.afternote>a {
    color: white !important;
}
.afternote svg {
    width: 18px !important;
}
.afternote>a:hover {
    color: #307510 !important;
    border-bottom: none !important;
}

@media (max-width:300px) {
    .recommended-menu img {
    min-width: 130px !important;
    }
}
@media (max-width: 768px) {
    nav .auto-booster-logo {
        position: absolute !important;
        left: 40px !important;
    } 
    .text-over-hero {
        width: 100vw !important;
    }
    .text-over-hero .title {
        font-size: 24px !important;;
    }
    .text-over-hero .desc {
        display: none !important;
        visibility:  hidden !important;
    }
    .text-over-hero .btn {
        font-size: 12px !important;
        padding: 12px !important;
        color: white !important;
        background: none !important;
    }
    .positive-edge {
        display: none !important;
        visibility: hidden !important;
    }
    .recommended-menu {
        position:  relative !important;
        top: -60px !important;
    }       
    .recommended-menu h3 {
        font-size: 18px !important;
        text-align: center !important;
        font-weight: 600 !important;
        margin: 0px !important;
    }
    .recommended-menu .card-title {
        font-size: 12px !important;
    }
    .btn-card {
        left: 12px !important;
        right: 100px !important;
        bottom: -16px !important;
        font-size: 10px !important;
        min-width: 80px !important;
    }
    footer .auto-booster-logo {
        position: relative !important;
        left: 40px !important;
    }
    footer .social-media-icons {
        padding: 0px !important;
        padding-top: 8px !important;
    }
    footer .afternote {
        font-size: 10px !important;
        position: relative !important;
        top: -4px !important;
        padding-right: 24px !important;
    }
   
}

@media (min-width: 992px) {
    .positive-edge .icon-5 span, .positive-edge .icon-6 span {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    .recommended-menu h3 {
        font-size: 36px !important;
    }
    .card-title {
        font-size: 24px !important;
    }
    .card .btn-card {
        font-size: 14px !important;
        font-weight: 100 !important;
    }
    footer .auto-booster-logo {
        position: relative !important;
        top: -4px !important;
    }
}

@media (min-width: 1100px) {
    .text-over-hero .title {
        font-size: 76px !important;
    }
    .text-over-hero .desc {
        font-size: 20px !important;
    }
}